@model ChildcareScouter.Models.LicensedModel.LicensedDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LicensedDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicensedID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicensedID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertificateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertificateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BackgroundChecks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BackgroundChecks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inspection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inspection)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Certified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Certified)
        </dd> 
        <dt>
            @Html.DisplayNameFor(model => model.CPRTraining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPRTraining)
        </dd> 
        <dt>
            @Html.DisplayNameFor(model => model.ChildNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildNumber)
        </dd> 
        <dt>
            @Html.DisplayNameFor(model => model.StateRegistered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateRegistered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUTC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  ID = Model.LicensedID  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
