@model IEnumerable<ChildcareScouter.Models.LicensedModel.LicensedListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProviderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicensedID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CertificateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BackgroundChecks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inspection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Certified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUTC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicensedID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CertificateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BackgroundChecks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inspection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Certified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUTC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  ID=item.LicensedID  }) |
            @Html.ActionLink("Details", "Details", new { ID = item.LicensedID }) |
            @Html.ActionLink("Delete", "Delete", new { ID = item.LicensedID })
        </td>
    </tr>
}

</table>
