@model ChildcareScouter.Models.ChildModel.ChildDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChildDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentifyAs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentifyAs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildNeeds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildNeeds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.FoodAllergens)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodAllergens)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.NumberOfProviders)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfProviders)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUTC)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
